#docker lunch
ACTIVE_PROFILE=default

# Serveur
SERVER_PORT=8081

# Database (to configure  database service)
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=patient-db
GRPC_INVOICING_URL


# Kafka config
KAFKA_ADVERTISED_LISTENERS=
KAFKA_PORT=9092

